*.pyc
*.h5
*.avi
*.tar
*.dcm
*.pkl
*.yml
*.txt
*.hdf5
*.npy
*.json
*.tmp
*.egg-info
__pycache__
**/models/
**/node_modules/
**/base_donnees/
**/data_folder/
**/data_label_npy/
**/data_preprocess/
**/label_mask/
**/output/
**/.vscode/
**/backup/
**/inference_examples/
**/data_preprocess_magna_/
**/label_mask_magna_/
