__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.ckpt*
*.pkl
.vscode/
*.pkl
*.dcm
*.txt
*.npy
*.tmp
*.hdf5
*.zip
*.pbz2
*.mp4
*.tflite
*.db
*events.out*
dataset_2d.json
dataset_3d.json
res/credentials/
sandbox/
